<h1>Блог</h1>
<p>Меню</p>

<a href="/articles/new">Новый пост</a><br />
<%= link_to 'Список всех постов', articles_path %><br />
<br />
<a href="/contacts">Обратная связь (контакты)</a><br />
<br />
<a href="/about">О нас</a><br />
<a href="/terms">Условия использования</a>
